canvas {
  display: block;
  position: sticky;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: 0;
}

.content {
  position: block;
}

/* @media (min-width: 768px) {
  .content {
    padding: 20px 60px;
  }
} */
/* .content h1 {
  color: #f5f5fd;
  font-size: 42px;
}
.content p {
  line-height: 1.5;
} */
